body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 120%;
}

a{
  color: purple;
  text-decoration: none;
  transition: color 0.1s;
}

a:hover {
  color:pink;
}

button {
  display: inline-block;
  margin: 5px;
  cursor: pointer;
  font-size: 100%;
  background-color:lightslategray;
  border-radius: 5px;
  padding: 2px 10px;
  color: white;
  border: 0;
  transition: background-color 0.1s;
}


button:hover{
    background-color: #38a;
}

.question{
  font-size: 30px;
  margin-bottom: 10px;
}
.answers {
  margin-bottom: 20px;
  text-align: left;
  display: inline-block;
}
.answers label{
  display: block;
  margin-bottom: 10px;
}


.quiz-container{
  position: relative;
  height: 200px;
  margin-top: 40px;
}



.hide{
  display: none;
}

.start {
  text-align: center;
}